
.workexperience-section{
    margin-top: 70px;
}

.timeline-section{
    margin-top: 20px;
}

.tech-skills p{
    background-color: black;
    border-radius: 90px;
    color: white;
    padding: 10px;
    text-align: center;
}

.tech-skills p:hover{
    background-color: gold;
    cursor: pointer;
    color: black;
}
.date-class{
    color: black;
}

#dark .date-class{
    color: white;
}